@page "{guid}"
@model Ref.Api.Pages.AddModel

<div class="album py-5 bg-light">

    <div class="container">

        add

    </div>

</div>

@section Scripts {

    <script type="text/javascript">
    </script>

}