@page "{guid}/{id}"
@model Ref.Api.Pages.EditModel

<div class="album py-5 bg-light">

    <div class="container">

        edit

    </div>

</div>

@section Scripts {

    <script type="text/javascript">
    </script>

}